<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ .Title }} &middot; caremad</title>

    {{ template "theme/_includes/head.html" . }}
  </head>

  <body>
    {{ template "theme/_includes/nav.html" . }}

    <div class="container">
      <div class="content">

        <div class="row-fluid">
          <div class="span12">

            <div class="post">
              <header class="post-header">
                <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                <div class="post-time">{{ .Date.Format "January 2 2006" }}</div>
              </header>
              <hr>
              <div class="post content">
                {{ .Content }}
              </div>
            </div>

          </div>
        </div>

        {{ template "theme/_includes/footer.html" . }}

      </div>
    </div>
  </body>
</html>
