# Generated Python files
*.py[co]

# Generated Bundler files
.bundle/
bin/

# Generated SASS/Compass Files
_themes/*/.sass-cache

# Generated HTML website files
public/

# Copywritten & Licensed Font files
_themes/caremad/static/fonts/
