{% extends "layout.html" %}


{% block main %}
  <div id="content">
    <section>
      <h2 class="section-title">Posts</h2>
      <ol class="article-list">
        {% for item in pagination.items %}
          <li>
            <h3 class="article-title">
              <a href="{{ item|permalink }}" title="{{ item.title }}">{{ item.title }}</a>
            </h3>
            <time class="article-published" datetime="{{ item.date.strftime('%Y-%m-%d') }}">
              {{ item.date.strftime('%d %B %Y') }}
            </time>
          </li>
        {% endfor %}
      </ol>
    </section>

    <section>
      <h2 class="section-title">Projects</h2>
      <ul class="project-list">
        {% for project, link, description in theme.projects %}
          <li>
            <h3 class="project-title">
              <a href="{{ link }}" title="{{ project }}">{{ project }}</a>
            </h3>
            <div class="project-description">{{ description }}</div>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
{% endblock %}
