<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <title>{% block title %}{% endblock title %} &middot; {{ site.name }}</title>

    <link rel="alternate" type="application/atom+xml" href="{{ content_url('feed.xml') }}" title="{{ site.name }}" />

    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" />
    <link rel="stylesheet" href="//cloud.typography.com/7226432/647402/css/fonts.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,700" />
  </head>
  <body>
    <header id="banner">
      <h1>
        <a href="{{ site.url }}/">{{ site.name }}</a>
      </h1>
    </header>

    {%- block main %}
    {% endblock -%}

    <footer id="footer">
      <a href="/about/" title="About Donald Stufft" class="about">Donald Stufft?</a>
      <a href="mailto:donald@stufft.io" class="contact">Get in Touch</a>
    </footer>

    <script>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51ee4cbaf5a1f504290000ca');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
