{% extends "layout.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block afterstyle %}
<link rel="canonical" href="{{post|permalink}}" />
{% if post.summary %}<meta name="description" content="{{post.summary}}" />{% endif %}
{% endblock %}

{% block main -%}
  <article id="content" class="body">
    <header>
      <h1 class="entry-title">
        <a href=" {{ post|permalink }}" rel="bookmark" title="{{ post.title }}">
          {{ post.title }}
        </a>
      </h1>

      <aside class="post-info">
        <time datetime="{{ post.date.strftime('%Y-%m-%d') }}">{{ post.date.strftime('%d %B %Y') }}</time>
      </aside>
    </header>

    <div class="entry-content">
      {{ post.content }}
    </div>
  </article>
{%- endblock %}
