<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>caremad</title>

    {{ template "theme/_includes/head.html" . }}
  </head>

  <body>
    {{ template "theme/_includes/nav.html" . }}

    <div class="container">
      <div class="content">

        <div class="row-fluid">
          <div class="span12">

            <div class="posts">
            {{ range .Data.Pages }}
            {{ if and (not .Date.IsZero) (not (eq .Date.Year 2008)) }}
              <article class="post">
                <header class="post-header">
                  <h1><a href="{{.RelPermalink }}">{{ .Title }}</a></h1>
                  <div class="post-time">{{ .Date.Format "2 January 2006" }}</div>
                </header>
              </article>
            {{ end }}
            {{ end }}
            </div>

          </div>
        </div>

        {{ template "theme/_includes/footer.html" . }}

      </div>
    </div>

    {{ template "theme/_includes/js.html" . }}

  </body>
</html>
