{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
  <article id="content" class="body">
    <header>
      <h1 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title }}">
          {{ article.title }}
        </a>
      </h1>

      <aside class="post-info">
        <time datetime="{{ article.date|strftime('%Y-%m-%d') }}">{{ article.date|strftime('%d %B %Y') }}</time>
      </aside>
    </header>

    <div class="entry-content">
      {{ article.content }}
    </div>
  </article>
{% endblock %}
