<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="author" content="Donald Stufft">

<link href="/css/milk.min.css" rel="stylesheet">
<link href="/css/milk-responsive.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/highlight/8.3/styles/github.css" rel="stylesheet">

<link rel="shortcut icon" href="/images/alexfinn.ico">
<link rel="apple-touch-icon" href="/images/letter-a.png">

<link rel="canonical" href="{{ .Permalink }}">

<link href="/rss.xml" type="application/atom+xml" rel="alternate" title="{{ .Site.Title }}">
