<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="author" content="Donald Stufft">

<link href="/static/css/milk.min.css" rel="stylesheet">
<link href="/static/css/milk-responsive.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="//cloud.typography.com/7226432/665026/css/fonts.css" rel="stylesheet">
<link href="/static/highlight/8.3/styles/github.css" rel="stylesheet">

<link rel="canonical" href="{{ .Permalink }}">

<link href="/rss.xml" type="application/atom+xml" rel="alternate" title="{{ .Site.Title }}">
