body {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;

  line-height: 1.8em;
}

p {
  margin-bottom: 1em;
}

p a {
  border-bottom: 1px solid #fa5305;
  color: #505050;
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-bottom: 2px solid #fa5305;
}

#navbar-inner {
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  margin: auto;
  max-width: 980px;
  border-bottom: 1px solid #989898;
}

#logo {
  padding-top: 0.5em;
  padding-bottom: 0.4em;

  font-size: 2em;
  font-weight: 400;

  color: #444;
}

#logo a {
  color: #444;
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  margin-top: 5em;
}

.posts {
  padding-bottom: 1em;
  border-bottom: 1px solid #d5d5d5;
}

.posts article {
  padding-bottom: 0px;
  border: none;
}

.posts article header {
  padding: 0px;
  text-align: left;
}

.posts article header time {
  float: left;
  width: 6rem;
  line-height: 3rem;
}

.posts article header h1 {
  margin-left: 6.5rem;
  font-size: 1.4em;
  line-height: 3rem;
}

.posts article header h1 a { }

article, .page {
  margin: auto;
  padding-bottom: 1em;
  background: #fff;
  border-bottom: 1px solid #d5d5d5;
  max-width: 700px;
}

article header {
  padding: 1em 1.2em 1em 1.2em;
  text-align: center;
}

article header h1 {
  font-size: 1.8em;
  color: #444;
  margin-bottom: 0.5em;
}

article header a { color: #444; }
article header a:hover { text-decoration: none; }

.post header a:hover { color: #444; border: none; }

article header time {
  color: #707070;
  font-style: italic;
  font-weight: 300;
}

article .content h1,
article .content h2,
article .content h3,
article .content h4,
article .content h5,
article .content h6 {
  padding: 1em 0 0.3em 0;
}

footer {
  margin: auto;
  max-width: 700px;
  padding: 2em 0 2em 0;
}

footer .contact { float: right; }


@media only screen and (max-width : 360px) {
  #logo { text-align: center; }
}

@media only screen and (max-width : 800px) {
  .container { margin-top: 2em; }
}
