body {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;

  line-height: 1.8em;
}

p {
  margin-bottom: 1em;
}

p a {
  border-bottom: 1px solid #fa5305;
  color: #505050;
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-bottom: 2px solid #fa5305;
}

#navbar-inner {
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  margin: auto;
  max-width: 980px;
  border-bottom: 1px solid #989898;
}

#logo {
  padding-top: 0.5em;
  padding-bottom: 0.4em;

  font-size: 2em;
  font-weight: 400;

  color: #444;
}

#logo a {
  color: #444;
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  margin-top: 5%;
}

.posts {
  padding-top: 5%;
  padding-bottom: 20px;
  border-bottom: 1px solid #d5d5d5;
}

.posts .post {
  padding-bottom: 0;
  border: none;
}

.posts .post-header {
  padding: 0;
  text-align: left;
}

.posts .post-header .post-time {
  display: inline-block;
  margin-right: 1em;
}

.posts .post-header h1 {
  display: inline-block;
  font-size: 1.4em;
}

.post {
  margin: auto;
  padding-bottom: 20px;
  background: #fff;
  border-bottom: 1px solid #d5d5d5;
  max-width: 700px;
}

.post-header {
  padding: 20px 40px 20px 40px;
  text-align: center;
}

.post-header h1 {
  font-size: 1.8em;
  color: #444;
  margin-bottom: 10px;
}

.post-header a { color: #444; }
.post-header a:hover { text-decoration: none; }

.post-time {
  color: #707070;
  font-style: italic;
  font-weight: 300;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  padding: 1em 0 0.3em 0;
}

footer {
  margin: auto;
  max-width: 700px;
  padding: 2em 0 2em 0;
}

footer .contact { float: right; }


@media only screen and (max-width : 360px) {
  #logo { text-align: center; }
}
